@import "_nullstyle";

body{
    margin: 0 auto;
    font-size: 40px;
    div{
        font-family: intro;
    }
    h1{
            font-style: italic;
            color: blueviolet;
    }
}
h1{
    color: rgba(143, 14, 14, 0.39);
    font-size: 20px;
    font-weight: 700;
}
p{
    color: blue;
}
.logo1{
    margin: 0 auto;
    width: 200px;
    }
.lole{
    color: darkcyan;
}