@import "_nullstyle";

body{
    font-size: 40px;
    div{
        font-family: intro;
    }
    h1{
            font-style: italic;
            color: blueviolet;
    }
}
h1{
    color: rgba(143, 14, 14, 0.39);
    font-size: 35px;
    font-weight: 400;
}
p{
    color: green;
}