@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "_nullstyle";

body{
    margin: 0;
    background: #202020;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
.manual{
    margin: 20px 0;
    h1{
        text-align: center;
        font-weight: 700;
        font-style: italic;
        font-size: 20px;
    }
}
.instruct{
    width: 300px;
    margin: 50px auto;

    li{
        margin: 15px 0 15px 0;
        font-size: 15px;
    }

}